<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Onlineshoppingstore.SellerLogin"/>
      <class name="Onlineshoppingstore.TC1"/>
      <class name="Onlineshoppingstore.TC1user"/>
      <class name="Onlineshoppingstore.Links"/>
      <class name="Onlineshoppingstore.InvisibleLink"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
